* {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}